<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">

<style type="text/css">
.psicoBtn {
	display: inline-block;
	color: #FFFFFF;
	border: 1px solid #007bff;
	background: #007bff;
	box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	font-weight: 400;
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
	font: 400 20px Arial;
}

.psicoBtn:active {
	color: #5bc0de;
	box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

a:link {
	text-decoration: none;
}
</style>

</head>
<body
	style="-ms-text-size-adjust: 100%; padding: 0; margin: 0; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background-color: #EEEEEE;">
	<table border="0" height="100%" width="100%" cellspacing="0"
		cellpadding="0" class="">
		<tbody>
			<tr>
				<td align="center" valign="top" style="padding: 30px;"><table
						border="0" cellpadding="0" cellspacing="0" width="650" class="">
						<tbody>
							<tr>
								<td>
									<table width="650" bgcolor="#FFFFFF" cellpadding="20"
										cellspacing="0" class="" border="0" style="">
										<tbody>
											<tr>
												<td>
													<div>
														<h3>${title}</h3>
														<p>${line1}</p>
														<p>${line2}</p>
														<p>${line3}</p>
														<div
															style="display:${displayUrl};  margin: 0 auto; text-align: center;">

															<a href="${url}" class="psicoBtn">${btnTxt}</a>
														</div>

													</div>
												</td>
											</tr>
										</tbody>
									</table>

								</td>
							</tr>
						</tbody>
					</table></td>
			</tr>
		</tbody>
	</table>

</body>
</html>
