/*
.form {
	background-color: #efefef;
	width: 400px;
	height: 50px;
	border-radius: 7px;
	padding: 20px;
}
*/
.form-signin {
    max-width:400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin input {
	margin-bottom: 1rem;
}